@font-face {
    font-family: FootLight;
    src: url(footlight-mt-pro/FootlightMTProLight.otf);
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: FootLight;
  }
article{
    width: 80vw;
    background-color: #2a180b;
    margin: 0 auto;
    padding: 40px;
  }

p{
  padding-right: 20px;
}
 
  body{
    background-image: url("Images/Dirt.jpg");
}
a{
    text-decoration: none;
    color: #186d51;
}
.floatRight {
  float: right; 
  margin-right: 5px;
  padding-right: 10 px;
  border: 5px solid #CABA9C;
  border-radius: 5px;
  margin-left: 20px;
 }
 .funnyBorder{
  border: 5px solid #CABA9C;
  border-radius: 5px;
 }
 .floatLeft {
  float: left; 
  margin-right: 15px;
  border: 5px solid #CABA9C;
  border-radius: 5px;
  
 }
 .floatLeft > p {
  color: #000000;
  background-color: #CABA9C;
  margin: 0px !important;
  padding: 0px !important;
  font-size:large; 
 }
article > p{
    color: #FFFFFF;
    
  }
  h1{
    font-size: xx-large;
    color: #25a46b;
  }
  h4{
    font-size: x-large;
    color: #25a46b;
  }
.antLink{
    bottom: 0px;
    right: 150px;
    position: fixed;
    z-index: 3;
   }
  
   .antLink:hover{
    transform: scale(1.08);
    transition: 1s;
  }

  .gitLink{
   top: 0;
    right: 200px;
    position: fixed;
    z-index: 3;
  }
  .gitLink:hover{
    transform: scale(1.15);
    transition: 1s;
  }
   
   .float {
    position: absolute;
    border: 5px solid #CABA9C;
    border-radius: 5px;
    margin-bottom: 0;
    width: fit-content;
    height: fit-content;
   }
   .float > p{
    background-color: #CABA9C;
   }
   .float > img{
    margin-bottom: -4px;
    padding-bottom: 0px;
  }
  .float > video{
    margin-bottom: -4px;
    padding-bottom: 0px;
  }

   .coolCard{
    border: 15px solid #CABA9C;
    border-radius: 15px;
    width: 650px;
    margin-top: 20px;
  }
  .coolCard > img{
    width: 150px;
    height: 150px;
    float: left;
    font-family: 'Lucida Sans';
  }

  .coolCard > p{
    height: 150px;
    background-color: #8A6240;
    font-size: 50px;
    text-align: left;
    
  }
  .coolCard:hover{
    transform: scale(1.08);
    transition: 1s;
  }
  .compressed{
    width: 50vw;
  }
  article > ul{
    list-style-type: none;
  }

  .ant-nest {
  position: relative;
  width: 100%;
  height: 100%;
}
  .bubble {
    z-index: 1;
  background: #CABA9C;
  border: 2px solid #CABA9C;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  
}

.bubble.text {
  width: fit-content;
  max-width: 300px;
  height: fit-content;
  z-index: 1;
}
.bubble.text >p{
  z-index: 1;
}

.bubble.image {
  position: absolute;
  z-index: 3;
  height: fit-content;
  display: flex;          
  flex-direction: column;  
  align-items: center;     
}
.bubble.image > p{
  max-width: 400px;
  align-content: center;
}


.tunnel {
  position:absolute;
  height: 10px;
  background: #CABA9C;
  z-index: 0;
}

.bubble.image > img{

  object-fit: cover;
  border-radius: 15px;
  z-index: 1;
}


.bubble.image > video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}