@font-face {
    font-family: FootLight;
    src: url(footlight-mt-pro/FootlightMTProLight.otf);
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: FootLight;
  }

  .float > img{
    margin-bottom: -7px;
    padding-bottom: 0px;
  }

  
header, footer{
    height: 80px;
}

header{
    background-color: #102820;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body{
    background-image: url("Images/Dirt.jpg");
}
p{
  padding-right: 20px;
}

nav{
    width: 80vw;
    height: 100%;
    margin:0 auto;
    
  }
nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px
  }
a{
  color: #000000;
  text-decoration: none;
}
  nav > ul > li{
    width: 100%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav > ul > li:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: #4C6444;
  }
  nav > ul > li > a{
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    line-height: fit-content;
    text-decoration: none;
    color: #CABA9C;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  article{
    width: 80vw;
    background-color: #4D2D18;
    margin: 0 auto;
    padding: 40px;
    font-size: 25px;
  }
  article > p{
    color: #FFFFFF;
  }
  article > ul{
    list-style-type: none;
  }
  .float {
    float: right; 
    margin: 15px;
    margin-top: 5px;
    border: 5px solid #CABA9C;
    border-radius: 5px;
    margin-bottom: 0;
   }

   .CardList > a{
    width: 650px;
   }
  .coolCard{
    border: 15px solid #CABA9C;
    border-radius: 15px;
    width: 650px;
    margin-top: 20px;
  }
  .coolCard > img{
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px
  }

  .coolCard > p{
    height: 150px;
    background-color: #8A6240;
    font-size: 50px;
    text-align: left;
  }

  .coolCard >a {
    width: 650px;
  }
  .coolCard:hover{
    transform: scale(1.08);
    transition: 1s;
  }
  .sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #102811;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav > a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav > a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px;
  }
  
  .OpenButton{
    float: right;
    margin-right: 20px;
    background-color: #4C6444;
    border: 5px solid #CABA9C;
    border-radius: 10px;
  }
  .OpenButton:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }