header, footer{
    height: 80px;
}

header{
    background-color: #4C6444;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body{
    background-color: #4D2D18;
}

nav{
    width: 60vw;
    height: 100%;
    margin:0 auto;
    
  }
nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px
  }

  nav > ul > li{
    width: 100%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav > ul > li > a{
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    line-height: fit-content;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }